<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <th:block th:replace="~{layout/main :: layout-head}"></th:block>
    <title>Something went wrong</title>
</head>
<body class="d-flex flex-column min-vh-100 imgBackgroundFood">
<main class="flex-grow-1">
    <div th:replace="~{layout/main :: navbar}"></div>

    <header class="py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div>
                    <div class="text-center">
                        <h1 class="display-3 fw-bolder mb-5">
                            <span class="text-gradient d-inline">Something went wrong <i class="bi-emoji-tear"></i></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="bg-light rounded-4 py-5 px-4 px-md-5">
        <div class="text-center mb-5">
            <div th:replace="~{layout/buttons :: back-to-home-button}"></div>
        </div>
    </div>
</main>

<div th:replace="~{layout/main :: footer}"></div>

<script th:replace="~{layout/main :: scripts}"></script>
</body>
</html>